<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.slimguy.projectkinda">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/loading"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/loadingb"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home.home" />
        <activity android:name=".Login.login1" />
        <activity
            android:name=".Parent.parent"
            android:label="@string/title_activity_parent"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Parent.achievementsParent" />
        <activity android:name=".Complaint.complaint" />
        <activity android:name=".Parent.progressParent" />
        <activity android:name=".Parent.behaviourParent" />
        <activity android:name=".News.news" />
        <activity android:name=".Notifications.notifications" />
        <activity android:name=".Parent.assignmentsParent"></activity>
    </application>

</manifest>